@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
    margin: 0;
    font-family: 'Poiret One', cursive;
}

nav {
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
}

a {
    font-size: 30px;
    color: #333333;
    text-decoration: none;
    margin: 10px 10px;
    border-bottom: 1px solid #505050;
    transition: 0.5s linear;
}

a:hover {
    border-bottom: 1px solid rgb(117, 211, 117);
}